.recipe-card {
    display: flex;
    flex-direction: row;
    margin: 10px;
    padding: 10px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  .recipe-card img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
  }
  
  .recipe-card-content {
    padding: 10px;
  }
  
  .recipe-card-content h2 {
    font-size: 24px;
    margin-top: 0;
  }
  
  .recipe-card-content p {
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 10px;
  }
  
  .recipe-card-content p:last-child {
    margin-bottom: 0;
  }
  
  .recipe-card {
    position: relative;
  }
  
  .flag-overlay {
    position: absolute;
    top: 10px;
    right: 10px;
  }
  
  .flag {
    width: 40px;
    height: 40px;
  }
  
  /* BrowseRecipes.css */

.ingredient-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.ingredient-table th,
.ingredient-table td {
  padding: 10px;
  border: 1px solid #ccc;
}

.ingredient-table th {
  background-color: #f2f2f2;
  font-weight: bold;
  text-align: left;
}

.ingredient-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.ingredient-list li {
  margin-bottom: 5px;
}
